<h1>Services</h1>

<% if @consumer_tokens.empty? && ! current_dreamer.has_facebook_account? %>
  <p>
    You are currently not connected to any external services.
  </p>
<% else %>
  <p>
    You are connected to the following services:
  </p>
  <ul>
    <% @consumer_tokens.each do |token| %>
      <li>
        <%= link_to token.class.service_name.to_s.humanize, service_path(token.class.service_name) %>
      </li>
    <% end %>
    <% if current_dreamer.has_facebook_account? %>
      <li>
        <%= link_to 'Facebook', '#' %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @services.empty? %>
<h3>You can connect to the following services:</h3>
<ul>
  <% @services.each do |service| %>
    <li>
      <%= link_to service.to_s.humanize, service_path(service) %>
    </li>
  <% end %>
  <% unless current_dreamer.has_facebook_account? %>
    <li>
      <%= fb_connect_javascript_tag %>
      <%= init_fb_connect "XFBML", :js => :jquery, :permsToRequestOnConnect => "publish_stream" %>
      <%= fb_login_and_redirect(facebook_dreamers_path) %>
    </li>
  <% end %>
</ul>
<% end %>
