<div id="left-col">
  <h1 id="h_submitadream" class="ir">Submit a dream<span></span></h1>
  <div class="inner">
    <p style="padding-bottom: 5px">
      <%= form.label :title, 'Give your dream a title' %><br />
      <%= form.text_field :title %>
    </p>
    
    <p>
      <%= form.label :story, 'Describe your dream' %><br />
      <%= form.text_area :story, :cols => '60', :rows => '7' %>
    </p>
    
    <p class="short-element">
      <%= form.label :dreamt_on, "Dream Date:" %><br />
      <%= form.date_select :dreamt_on, :order => [:day, :month, :year], 
        :start_year => Date.today.year - 5, :end_year => Date.today.year, :default => 1.day.ago %>
    </p>
    
    <p class="short-element">
      <%= form.label :location, 'Location:' %><br />
      <%= form.text_field :location %>
    </p>
    
    <h2 style="clear: both; padding-top: 5px">Who is in your dream</h2>
    <ul id="appearances">
    <% form.fields_for :appearances do |app_form| %>
      <% if app_form.object.new_record? %>
      <li class="appearances new">
        <p class="short-element">
          <%= app_form.label :name, 'Their Name' %>
          <%= app_form.text_field :name, :size => 30 %>
        </p>
        <p class="short-element">
          <%= app_form.label :relationship, 'Your Relationship' %>
          <%= app_form.text_field :relationship, :size => 30 %>
        </p>
        <p class="short-element">
          <%= app_form.label :role, 'Their Role' %>
          <%= app_form.text_field :role, :size => 30 %>
        </p>
        <p class="short-element">
          <%= app_form.label :email, 'Their Email' %>
          <%= app_form.text_field :email, :size => 30 %>
        </p>
        <p>
          <%= app_form.check_box :is_public_figure, :style => 'float: left; margin-right: 1em' %>
          <%= app_form.label :is_public_figure, 'Are they a figure in public life?' %>
        </p>
        <p>
          <%= app_form.check_box :should_be_notified, :style => 'float: left; margin-right: 1em' %>
          <%= app_form.label :should_be_notified, 'Let Them Know' %>
        </p>
      </li>
      <% else %>
      <li class="appearances old" id="<%= dom_id(app_form.object) %>">
        <%= app_form.object.name %> as <%= app_form.object.role %><br />
        <%= app_form.label :_delete, 'Delete' %>
        <%= app_form.check_box :_delete %>
      </li>
      <% end %>
    <% end %>
    </ul>
    
    <h2 id="h_tagyourdream" class="ir">Tag your dream<span></span></h2>
    <div class="inner">
      <p><strong>If you have time please add extra keyword to help the search engine connect dreams</strong></p>
      <p style="color:#544915;">Put a comma between tags. Eg, running, nightime, swimming etc..</p>
      <%= form.text_area :tag_list, :style => 'width: 100%', :rows => '4' %>
    </div>
    
    <p style="margin:2em 0; text-align: right" class="clearfix">
      <% if form.object.new_record? %>
        <%= form.submit 'Preview my dream' %> 
      <% end %>
      <%= image_submit_tag '/images/btn_submitadream.gif', :alt => 'Submit my dream' %>
    </p>
  </div> <!-- //inner -->  

</div> <!-- //left-col -->

<div id="right-col">
</div> <!-- //right-col -->

<% content_for :extra_headers do %>
<%= javascript_include_tag 'has_many' %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $('li.appearances:last').after('<li class="appearances append"><p><a class="add-link" href="">Add another person to your dream +</a></p></li>');
  HasMany.attach('li.appearances');
});
</script>
<style type="text/css" media="screen">
ul#appearances {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
  ul#appearances li {
    border-top: 1px dotted black;
  }
p.short-element {
  width: 50%; 
  float: left;
}
</style>

<% end %>