<p>
  <%= form.label :title %>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :story %>
  <%= form.text_area :story %>
</p>

<p>
  <%= form.label :tag_list, "Tags" %>
  <%= form.text_field :tag_list %>
</p>