<h2><%= @dream.title %></h2>

<p>Dreamt up by <%= link_to @dream.dreamer, @dream.dreamer %></p>

<%= simple_format @dream.story %>

<% unless @dream.new_record? %>
  <div id="ratings">
  <% if signed_in? %>
    <% if current_user.has_rated?(@dream) %>
      <p id="rated">You have rated this dream.</p>
    <% else %>
      <% form_for([current_user, Rating.new]) do |form| %>
        <%= form.hidden_field :dream_id, :value => @dream.id %>
        <% (1..5).each do |rating|  %>
          <%= rating %> <%= form.radio_button 'score', rating %>
        <% end %>
        <%= form.submit 'Rate It!' %>
      <% end %>
    <% end %>
  <% else %>
    <p><%= link_to 'Sign in', sign_in_path(:return_to => dream_path(@dream)) %> or <%= link_to 'Sign up', sign_up_path %> to rate this dream.</p>
  <% end %>
  </div>
<% end %>

<% if @dream.appearances.any? %>
  <h3>Featuring Appearances From...</h3>
  <ul>
  <% @dream.appearances.each do |app| %>
    <li>
      <% if app.apparition %>
        <%= link_to app.name, app.apparition %>
      <% else %>
      <%= app.name %>
      <% end %>
      (<%= app.relationship %>) in the role of <%= app.role %>
    </li>
  <% end %>
  </ul>
<% end %>