<h2><%= @dream.title %></h2>

<p>Dreamt up by <%= link_to @dream.dreamer, @dream.dreamer %></p>

<%= simple_format @dream.story %>

<% unless @dream.new_record? %>
  <div id="ratings">
  <% if ! signed_in? %>
    <p><%= link_to 'Sign in', sign_in_path(:return_to => dream_path(@dream)) %> or <%= link_to 'Sign up', sign_up_path %> to rate this dream.</p>
  <% else %>
    <% if current_user == @dream.dreamer || current_user.has_rated?(@dream) %>

      <% if @dream.ratings_count == 0%>
        <p>This dream has yet to be rated</p>
      <% else %>
        <p>This dream has been rated <%= pluralize(@dream.ratings_count, 'time', 'times') %> with an average rating of <%= @dream.average_rating %></p>
      <% end %>
      
      <% if current_user.has_rated?(@dream) %>
        <p id="rated">You have rated this dream.</p>
      <% end %>
    <% else %>
      <%= render 'ratings_form' %>
    <% end %>
  <% end %>
  </div>
<% end %>

<% if @dream.appearances.any? %>
  <h3>Featuring Appearances From...</h3>
  <ul>
  <% @dream.appearances.each do |app| %>
    <li>
      <% if app.apparition %>
        <%= link_to app.name, app.apparition %>
      <% else %>
      <%= app.name %>
      <% end %>
      (<%= app.relationship %>) in the role of <%= app.role %>
    </li>
  <% end %>
  </ul>
<% end %>