<div id="left-col">
  <h1 id="h_view-dreams" class="ir">Read Dreams<span></span></h1>

  <div class="inner">
    <div class="dreams-nav">
      <%= link_to 'Newest Dreams', dreams_path %> | <%= link_to 'Top Rated Dreams', ratings_path %> | <%= page_entries_info @dreams %> | <%= will_paginate @dreams %>
    </div> <!-- //dreams-nav -->

    <div id="latest-dreams">
      <h2>Latest Dreams</h2>
      <ul>
        <%= render :collection => @dreams, :partial => 'dreams/dream' %>
      </ul>
    </div><!-- //latest-dreams -->

    <div class="dreams-nav">
      <%= link_to 'Newest Dreams', dreams_path %> | <%= link_to 'Top Rated Dreams', ratings_path %> | <%= page_entries_info @dreams %> | <%= will_paginate @dreams %>
    </div> <!-- //dreams-nav -->
  </div> <!-- //inner -->

</div> <!-- //left-col -->

<div id="right-col">
  <%= render 'shared/network' %>
</div> <!-- //right-col -->
