<div id="left-col">
  <h1 id="h_view-dreams" class="ir">Read Dreams<span></span></h1>

  <div class="inner">
    <div class="dreams-nav">
      <%= link_to 'Newest Dreams', dreams_path %> | <%= link_to 'Top Rated Dreams', ratings_path %> | <%= page_entries_info @dreams %> | <%= will_paginate @dreams %>
    </div> <!-- //dreams-nav -->

    <div id="latest-dreams">
      <h2>Latest Dreams</h2>
      <ul>
        <%= render :collection => @dreams, :partial => 'dreams/dream' %>
      </ul>
    </div><!-- //latest-dreams -->

    <div class="dreams-nav">
      <%= link_to 'Newest Dreams', dreams_path %> | <%= link_to 'Top Rated Dreams', ratings_path %> | <%= page_entries_info @dreams %> | <%= will_paginate @dreams %>
    </div> <!-- //dreams-nav -->
  </div> <!-- //inner -->

</div> <!-- //left-col -->

<div id="right-col">
  <h2 id="h_my-network" class="ir">My Network<span></span></h2>
  <ul class="mynetwork">
    <li>
      <img src="/images/avatars/avatar-1.gif" width="23" height="27" alt="" />
      <a href="">Dennis Calzaghe</a>
    </li> 
    <li>
      <img src="/images/avatars/avatar-2.gif" width="23" height="27" alt="" />
      <a href="">Mary LeDoof</a>
    </li>
    <li>
      <img src="/images/avatars/avatar-3.gif" width="23" height="27" alt="" />
      <a href="">Cindy Dreamalot</a>
    </li>
    <li>
      <img src="/images/avatars/avatar-4.gif" width="23" height="27" alt="" />
      <a href="">Phil Smithe</a>
    </li>
    <li>
      <img src="/images/avatars/avatar-1.gif" width="23" height="27" alt="" />
      <a href="">Dennis Calzaghe</a>
    </li> 
    <li>
      <img src="/images/avatars/avatar-2.gif" width="23" height="27" alt="" />
      <a href="">Mary LeDoof</a>
    </li>             
  </ul>
</div> <!-- //right-col -->
