<%= render :partial => 'show_dream' %>

<h3>Comments</h3>

<% if @dream.available_comments.any? %>
<ul>
  <% @dream.available_comments.each do |comment| %>
  <li>
    <% if comment.hidden? %>
      <p>A comment that was here has been removed for breaching our policies.</p>
    <% else %>
      <h4><%= comment.dreamer %> said on <%= comment.created_at.to_date %></h4>
      <p><%= comment.body %></p>
      <% if signed_in? %>
        <p><%= link_to 'Report this?', new_dream_comment_report_path(@dream, comment) %></p>
      <% else %>
        <%= link_to 'Sign up', sign_up_path %> or <%= link_to 'sign in', sign_in_path %> to report inappropriate comments
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>
<% else %>
  <p>No comments yet</p>
<% end %>

<% if signed_in? %>
  <% form_for([@dream, Comment.new]) do |form| %>
  <fieldset>
    <legend>Your Comment</legend>
    <p>
      <%= form.label :body, 'Comment' %>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit 'Add Comment' %>
    </p>
  </fieldset>
  <% end %>
<% else %>
  <p>You must be signed in to comment. <%= link_to 'Sign in now', sign_in_path(:return_to => dream_path(@dream)) %></p>
<% end %>


<% if signed_in? and current_user == @dream.dreamer %>
  <p><%= link_to 'Edit', edit_dream_path(@dream) %></p>
<% end %>

<p><%= link_to 'Browse Dreams', dreams_path %></p>

<% content_for :extra_headers do %>
  <% if signed_in? %>
    <%= javascript_include_tag 'jquery.rater.js' %>
    <%= stylesheet_link_tag 'stars.style.css' %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        $(function() {
          $('#ratings').append('<div id="testRater" class="stat"><label for="rating">Rating</label><div class="statVal"><span class="ui-rater"><span class="ui-rater-starsOff" style="width:90px;"><span class="ui-rater-starsOn" style="width:63px"></span></span><span class="ui-rater-rating"><%= @average_rating %></span>&#160;(<span class="ui-rater-rateCount"><%= @dream.ratings.count %></span>)</span></div></div>');
          $('#new_rating').remove();
          $rated = $('#rated');
          if ($rated.length > 0) {
            $rated.text($rated.text() + ' Choosing a value below will override your previous choice.');
          }
        
          $('#testRater').rater({ 
            id: <%= @dream.id %>,
            postHref: '<%= dreamer_ratings_path(current_user, :format => :js) %>' 
          });
        });
      });
    </script>
  <% end %>
<% end %>