<% content_for :page_title do %><h1><%= comment_list_title %></h1><% end %>

<% form_tag admin_comments_path, :method => :get do %>
  <label for="filter">Filter comments by status</label>: 
  <%= select_tag 'filter', options_for_select(['', 'all'] + Comment::STATUSES, params[:filter]) %>
  <%= submit_tag 'Go' %>
<% end %>

<p><%= page_entries_info @comments %></p>

<table border="1">
  <thead>
    <tr>
      <th>Dream</th>
      <th>Dreamer</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Excerpt</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.dream.title, comment.dream %></td>
        <td><%= link_to comment.dreamer, comment.dreamer %></td>
        <td><%= comment.status %></td>
        <td><%= comment.created_at %></td>
        <td><%= truncate(h(comment.body), :length => 50) %></td>
        <td><%= link_to 'Edit', edit_admin_comment_path(comment) %></td>
        <td><%= button_to 'Destroy', admin_comment_path(comment), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @comments %>