<h2>Sign in</h2>

<% unless invitation_only? %>
<p><strong>Not yet a member? <%= link_to "Click here to sign up", sign_up_path %></strong></p>
<% end %>

<% if invitation_only? %>
<p>We are currently in <em>invitation only</em> mode. If you don't have an account and would like an invitation, please get in touch.</p>
<p>Otherwise, please log in below.</p>
<hr />
<% end %>

<% form_for :session, :url => session_path do |form| %>
  <p class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email %>  
  </p>
  <p class="text_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  
  <p class="submit_field">
    <%= form.submit "Sign in", :disable_with => "Please wait..." %>
  </p>
<% end %>

<p><%= link_to "Forgotten your password? Click here to reset it", new_password_path %></p>

<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML", :js => :jquery %>
<%= fb_login_and_redirect(session_path) %>

<% content_for :extra_headers do %>
<style type="text/css" media="screen">
  label {
    display: block;
    float: left;
    width: 150px;
    font-weight: bold;
  }
</style>
<% end %>