<h2>Sign in</h2>


<p><strong>Not yet a member? <%= link_to "Click here to sign up", '/sign_up' %></strong></p>



<%= form_for :session, :url => '/session' do |form| %>
  <p class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p class="text_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  
  <p class="submit_field">
    <%= form.submit "Sign in", :disable_with => "Please wait..." %>
  </p>
<% end %>

<p><%= link_to "Forgotten your password? Click here to reset it", new_password_path %></p>

<% content_for :extra_headers do %>
<style type="text/css" media="screen">
  label {
    display: block;
    float: left;
    width: 150px;
    font-weight: bold;
  }
</style>
<% end %>