
<div id="left-col-home">
  
  <% if @results %>
    <h2>Search Results</h2>

    <% if @results.any? %>
  
      <p><%= page_entries_info @results %></p>
  
      <ul>
        <% @results.each do |dream| %>
        <li><%= link_to dream.title, dream %> from <%= link_to dream.dreamer, dream.dreamer %></li>
        <% end %>
      </ul>
      
      <%= will_paginate @results %>
      
      <p><%= link_to 'Subscribe to these results', {:q => params[:q], :format => :atom}, :class => 'subscribe' %></p>
    <% else %>
      <p>No matching results. Please try again</p>
    <% end %>
  <% else %>
    <h2>Search Drapno</h2>
  <% end %>

  <%= form_tag search_path, :method => :get do %>
    <p>
      <% if params[:q].blank?  %>
        <label>Enter keywords in the box below to search dreams on this site. We look at titles, descriptions and tags to produce results.</label><br />
      <% else %>
        <label style="font-weight: bold">Search again</label>
      <% end %>
  
      <%= text_field_tag 'q', params[:q], :size => 40 %>
    </p>
    <p><%= submit_tag 'Search' %></p>
  <% end %>
</div>

<div id="right-col-home">
  <%= render 'shared/tag_cloud' %>
</div>

<% content_for :extra_headers do %>
<% if @results and @results.any? %>
<%= auto_discovery_link_tag :atom, {:q => params[:q], :format => :atom}, {:title => 'Subscribe to these results'} %>
<% end %>
<style type="text/css" media="screen">

</style>
<% end %>