
<div id="left-col-home">
  
  <% if @results %>
    <h3>Search Results</h3>

    <% if @results.any? %>
  
      <p><%= page_entries_info @results %></p>
  
      <ul>
        <% @results.each do |dream| %>
        <li><%= link_to dream.title, dream %> from <%= link_to dream.dreamer, dream.dreamer %></li>
        <% end %>
      </ul>
      
      <%= will_paginate @results %>
      
      <p><%= link_to 'Subscribe to these results', {:q => params[:q], :format => :atom}, :class => 'subscribe' %></p>
    <% else %>
      <p>No matching results. Please try again</p>
    <% end %>
  <% else %>
    <h3>Search Drapno</h3>
  <% end %>

  <% form_tag search_path, :method => :get do %>
    <p>
      <% if params[:q].blank?  %>
        <label>Enter keywords in the box below to search dreams on this site. We look at titles, descriptions and tags to produce results.</label><br />
      <% else %>
        <label style="font-weight: bold">Search again</label>
      <% end %>
  
      <%= text_field_tag 'q', params[:q], :size => 40 %>
    </p>
    <p><%= submit_tag 'Search' %></p>
  <% end %>
</div>

<div id="right-col-home">
  <h3>Popular Tags</h3>

  <ul id="tag-cloud">
    <% tag_cloud(@tags, @levels) do |tag, level| %>
      <li class="<%= level %>"><%= link_to h(tag), tag %></li>
    <% end %>
  </ul>
</div>

<% content_for :extra_headers do %>
<% if @results.any? %>
<%= auto_discovery_link_tag :atom, {:q => params[:q], :format => :atom}, {:title => 'Subscribe to these results'} %>
<% end %>
<style type="text/css" media="screen">
  #tag-cloud {
    list-style: none;
    width: 200px;
  }
  #tag-cloud li {
    display: inline;
  }
  #tag-cloud li.level-1 {
    font-size: x-small;
  }
  #tag-cloud li.level-2 {
    font-size: small;
  }
  #tag-cloud li.level-3 {
    font-size: normal;
  }
  #tag-cloud li.level-4 {
    font-size: large;
  }
  #tag-cloud li.level-5 {
    font-size: x-large;
  }
</style>
<% end %>