<%= form.error_messages %>
<p class="text_field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</p>

<p class="text_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br />(Your name will appear on the public site unless you setup a public alias below)
</p>
<p>
  <%= form.label :public_alias %>
  <%= form.text_field :public_alias %>
  <br />(how you would like to be identified on the site. Leave this blank if you want us to display your real name)
</p>

<% if form.object.new_record? %>
  <p class="password_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p class="password_field">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation %>
  </p>
<% end %>