
<div id="left-col">
  <h1 id="h_my-drapno" class="ir">My Drapno<span></span></h1>
             
  <div class="inner">
      <h2 id="h_personal-info">Personal Information</h2> 
      
       <!-- <div id="privacy">
         <% form_for(current_user) do |form| %>
           Private <%= form.radio_button :public_profile, 0 %>
           Public <%= form.radio_button :public_profile, 1 %>
           <%= form.submit 'Save' %>
          <% end %>
        </div> -->
                                             
      <table class="tab1 tab2">
        <tr>
          <th>Name:</th>
          <td><%= current_user.name %> <span>[<%= link_to "Change", edit_dreamer_path(current_user) %>]</span></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= current_user.email %> <span>[<%= link_to "Change", edit_dreamer_path(current_user) %>]</span></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td>***** <span>[<%= link_to "Change", edit_dreamer_credentials_path(current_user) %>]</span></td>
        </tr>
        <tr>
          <th>Picture</th>
          <td>
            <% if current_user.picture.exists? %>
            <%= image_tag current_user.picture.url(:thumb), :height => '27', :width => '27', :alt =>'' %>
            <span>[<%= link_to "Change", edit_dreamer_path(current_user) %>]</span>
            <% else %>
            No picture uploaded. <span>[<%= link_to "Upload one", edit_dreamer_path(current_user) %>]</span>
            <% end %>
          </td>
        </tr>
        <% if current_user.gender %>
        <tr>
          <th>Gender</th>
          <td><%= current_user.gender %> <span>[<%= link_to "Change", edit_dreamer_path(current_user) %>]</span></td>
        </tr>
        <% end %>
        <% if current_user.location %>
        <tr>
          <th>Location</th>
          <td><%= current_user.location %> <span>[<%= link_to "Change", edit_dreamer_path(current_user) %>]</span></td>
        </tr>
        <% end %>
        <% if current_user.age_band %>
        <tr>
          <th>Age Band</th>
          <td><%= current_user.age_band %> <span>[<%= link_to "Change", edit_dreamer_path(current_user) %>]</span></td>
        </tr>
        <% end %>
      </table>
      
      <% if current_user.opt_out %>
        <p>
          You have opted out of receiving new dream appearance notifications.
          <%= button_to 'Opt back in', opt_out_path(current_user.opt_out), :method => :delete %>
        </p>
      <% end %>
      
      <p><%= link_to 'Click here to view your profile as other people see it', dreamer_path(current_user, :public => '1') %></p>
      
      <h2>My Dreams</h2>

      <table class="tab1 tab2">
        <% current_user.dreams.each do |dream| %>
        <tr>
          <th><%= dream.dreamt_on || dream.created_at.to_date %>:</th>
          <td><%= dream.title %></td>
          <td><span>[<%= link_to 'View', dream %>] [<%= link_to 'Update', edit_dream_path(dream) %>] [<%= button_to 'Delete', dream, :method => 'delete' %>]</span></td>
        </tr>
        <% end %>
      </table>
      
      <h2>Dreams I appear in</h2>              
      <table class="tab1 tab2">
        <% current_user.references.each do |dream| %>
        <tr>
          <th><%= dream.dreamt_on || dream.created_at.to_date %>:</th>
          <td><%= dream.title %></td>
          <td><span>[<%= link_to 'View', dream %>]</span></td>
        </tr>
        <% end %>
      </table>
    
  </div>
                   
</div> <!-- //left-col -->

<div id="right-col">
  <%= render 'shared/network' %>
  
</div> <!-- //right-col -->

<% content_for :extra_headers do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('form.edit_dreamer input[type=radio]').change(function () {
      $form = $(this).closest('form');
      $.post($form.attr('action') + '.js', $form.serialize());
      return false;
    });
    $('form.edit_dreamer input[type=submit]').hide();
  });
</script>
<% end %>