<h1>Dreamer: <%= @dreamer.name %></h1>

<% if @dreamer.public_profile? %>
<p><%= @dreamer.email %></p>
<p><%= [@dreamer.location, @dreamer.gender, @dreamer.age_band].compact.join(' / ') %></p>
<% end %>

<h2>Dreams</h2>

<% if @dreamer.dreams.any? %>
  <ul>
    <%= render :collection => @dreamer.dreams, :partial => 'dreams/dream' %>
  </ul>
<% else %>
  <p>No dreams entered yet.</p>
<% end %>

<h2>Appearances</h2>
<% if @dreamer.references.any? %>
  <ul>
    <%= render :collection => @dreamer.references, :partial => 'dreams/dream' %>
  </ul>
<% else %>
  <p>Has yet to be dreamed of!</p>
<% end %>