<div id="left-col-home">
  <h2 id="h_submit-dream" class="ir">Submit a Dream<span></span></h2>
  <div class="purple" style="padding-left:25px;">
    <p>Tell us about your dream please.  And then we can notify whoever appeared in it. Click below to get started.</p>
    <p>
      <%= link_to new_dream_path, :id => "btn_submit-my-dream", :class => "ir" do %>
        <strong>Submit my dream</strong><span></span>
      <% end %>
    </p>
  </div>
  
  <h2 id="h_read-dreams" class="ir">Read the dreams<span></span></h2>
  <div style="padding-left:25px;">
    <% @recent_dreams.each do |dream| %>
    <p>
      <%= link_to truncate(dream.story, :length => 75), dream_path(dream) %><br /> 
      by <%= dream.dreamer %> 
      <% if dream.dreamer.location.present? %>
        from <%= dream.dreamer.location %>
      <% end %>
    </p>    
    <% end %>
    <p><%= link_to 'More Dreams', dreams_path %></p>
  </div>                      
</div> <!-- //left-col-home -->

<div id="right-col-home">
  <h2 id="h_introduction" class="ir">Introduction<span></span></h2>
  <p class="blue"><strong>Last night, you appeared in at least 3 
  different dreams, dreamed by different people.</strong></p> 
  <ul>
    <li>What were you doing in those dreams?</li>  
    <li>What were you like?</li>  
    <li>Who were you with?</li>   
    <li>What was the setting?</li>  
    <li>What the hell does it all mean, if anything?</li>
  </ul>  
  <p>Would you be interested to know about the dreams you were in? <strong>Of course.</strong></p> 

  <p class="blue"><strong>That's what DRAPNO does.</strong></p>  
  <p>It's a service which makes it easy and normal for people to let each other know about how they appeared in each other's dreams.</p> 
  <p><strong>DRAPNO stands for DReam APpearance NOtification.</strong></p>
  
  <%= render 'shared/tag_cloud' %>
</div> <!-- //right-col-home -->
