<h1>New invitation</h1>

<% form_for(@invitation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p><%= link_to 'Invitations List', invitations_path %></p>