<div id="left-col">
  <h2>Recent Updates</h2>

  <%= will_paginate @updates %>
    
  <ol start="<%= (((params[:page] || 1).to_i - 1) * 20) + 1 %>">
    <%# TODO: The huge assumption here is that the actor and objects are dreamers and dreams. Can we change that? %>
    <% @updates.each do |update| %>
      <li><%= render :partial => 'update', :object => update %></li>
    <% end %>
  </ol>
  
  <%= will_paginate @updates %>
</div>

<div id="right-col">
  <p>We show:</p>
  <ul>
    <li>New dreams and comments from people you're following</li>
    <li>Comments on your dreams</li>
    <li>Other comments on dreams you commented on</li>
    <li>Dreams you appear in</li>
    <li>Comments on dreams you appear in</li>
  </ul>
  <p>We can't yet:</p>
  <ul>
    <li>Apply privacy or configuration settings to this</li>
    <li>Allow paging back through older updates</li>
    <li>Be sure it'll work well at scale (it probably won't)</li>
  </ul>
  
  <%= render :partial => 'shared/network' %>
</div>