<h2>Change Your Password</h2>

<% form_for current_user do |form| %>

  <%= form.error_messages %>
  
  <p class="password_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p class="password_field">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation %>
  </p>
  <p>
    <%= form.submit 'Make the change' %>
  </p>
<% end %>
