<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <% if Rails.env.development? or Rails.env.test? %>
      <%= javascript_include_tag 'jquery.min.js' %>
    <% else %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    <% end %>

    <%= stylesheet_link_tag 'application', 'default_001', 'admin', :compress => true %>
    <%= yield :extra_headers %>
  </head>
  <body>
    
    <div class="noscreen"><a href="#content">Jump to main content</a><hr /></div>

    <div id="wrapper">
      <div id="wrapper-in">

        <div id="header">
          <a href="/" style="border: none"><img src="/assets/logo.jpg" width="236" height="133" id="logo" alt="Drapno logo" style="border: none" /></a>
          
          <%= yield :page_title %>
        </div>
        
        <ul id="navigation">
          <li><%= link_to_unless_current 'Admin', admin_dashboard_path %></li>
          <li><%= link_to_unless_current 'Dreamers', admin_dreamers_path %></li>
          <li><%= link_to_unless_current 'Comments', admin_comments_path %></li>
          <li><%= link_to_unless_current 'Pages', admin_pages_path %></li>
        </ul>
        
        <div id="content" class="clearfix">
          <div id="flash">
            <% flash.each do |key, value| -%>
              <div class="flash" id="flash_<%= key -%>"><%= html_escape(value) %></div>
            <% end -%>
          </div>

          <%= yield %>
        </div>
        
      </div>
    </div>
  </body>
</html>